tqdm
numpy
seaborn
natsort
imutils
shapely
requests
pytesseract
scikit-image
torch==1.5.1
torchvision
opencv-python
gensim==3.8.3
seqeval==1.2.2
torchtext==0.6.0
tensorboard==2.4.1
transformers==4.3.4
sentencepiece==0.1.95
googledrivedownloader==0.4
